@import "./normalize.css";
@import "./variables.css";
@import "./typografy.css";
@import "./fork-me.css";

.header {
  text-align: center;
  padding: 24px;
  color: var(--color-tertiary-accent);
}

.ticke-actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticke-action{
  flex: 1 1 500px;
}